<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="container-fluid bg-light blogitem">
      <div class="jumbotron">
        <h1><a href="<%= selfUrl %>"><%= title %></a></h1>
        <p><%= date %></p>
        <% if(typeof tags !== 'undefined') { %>
           <p><b>tags:</b>

           <% tags.forEach(tag => {%>
             <a href='/blog/tags/<%= tag %>'><%= tag %></a>
           <% }); %>

        <% } %>
      </div>
      <%- content %>
    </div>
  </div>
</div>
