<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/css/custom.css">
  <title>noisybox blog</title>
</head>
<body>
  <%- include('./include/nav.ejs') %>
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1>blog</h1>
    </div>
  </div>

  <%- include('./include/blogs_pager.ejs') %>

  <% blogs.forEach((blog,index) => { %>
    <% title = blog.title;
       date = blog.date;
       tags = blog.tags;
       content = blog.content;
       selfUrl = blog.selfUrl;
       firstOnPage = index === 0 ? true : false
    %>
    <%- include('./include/single_blog.ejs') %>
  <% })%>

  <%- include('./include/blogs_pager.ejs') %>

  <%- include('./include/bootstrap.ejs') %>
</body>
</html>
