<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/atom-one-dark.css"/>
  <% if(typeof lightbox !== 'undefined') { %>
    <link rel="stylesheet" href="/js/jquery.fancybox.min.css" type="text/css" media="screen" />
  <% } %>
  <title><%= title %></title>
  <% if(typeof cssinc !== 'undefined') { %>
    <%   cssinc.forEach(css => { %>
           <link rel="stylesheet" href="<%- css %>"/>
  <%     }); %>
  <% } %>
</head>
<body>
  <%- include('./include/nav.ejs') %>
  <div class="container">
    <div class="row pagecontent">
      <div class="col-md-2">
        <%- include('./include/cclicense.ejs') %>
      </div>
      <div class="col-md-8 bg-light">
        <h1><%- typeof pagetitle == 'undefined' ? title : pagetitle %></h1>
        <%- content %>
      </div>
    </div>
  </div>
  <%- include('./include/footer.ejs') %>
  <%- include('./include/bootstrap.ejs') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>
  hljs.initHighlightingOnLoad(); // code block syntax highlighting
  </script>
  <%- include('./include/lightbox.ejs') %>
  <% if(typeof jsinc !== 'undefined') { %>
    <%   jsinc.forEach(js => { %>
           <script src="<%- js %>"></script>
  <%     }); %>
  <% } %>
</body>
</html>
