<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/css/custom.css">
  <title><%= title %></title>
</head>
<body>
  <%- include('./include/nav.ejs') %>
  <div class="container-fluid">
    <h1><%- typeof pagetitle == 'undefined' ? title : pagetitle %></h1>
    <%- content %>
  </div>
  <%- include('./include/bootstrap.ejs') %>
</body>
</html>
