<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/css/custom.css">
  <title><%= title %></title>
</head>
<body>
  <%- include('./include/nav.ejs') %>
  <%- include('./include/single_blog.ejs') %>
  <div class='row'>&nbsp;</div>
  <div class='row'>&nbsp;</div>
  <%- include('./include/footer.ejs') %>
  <%- include('./include/bootstrap.ejs') %>
</body>
</html>
